body {
  background-color: black;
  font-family: 'Lato', sans-serif !important;
  color: white;
}
.general-info {
  background-color: white;
  color: black;
}
p {
  background-color: white;
  color: black;
}
table {
  background-color: white;
  color: black;
}
table, th, td {
  border: 1px solid black;
}
table {
  table-layout: fixed;
  width: 100%;
}
/* .auditText {
  font-family: 'Lato', sans-serif !important;
}
.auditPreviewText {
  font-family: 'Lato', sans-serif !important;
} */
