body {
  background-color: black;
  font-family: 'Lato', sans-serif !important;
  color: white;
}
.general-info {
  background-color: white;
  color: black;
}
p {
  background-color: white;
  color: black;
}
table {
  background-color: white;
  color: black;
}
/* .auditText {
  font-family: 'Lato', sans-serif !important;
}
.auditPreviewText {
  font-family: 'Lato', sans-serif !important;
} */
